body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pricing-table {
    width: 80%;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 0 50px rgba(0,0,0,0.1);
}

.header, .row {
    display: flex;
}

.header .title {
    flex: 1;
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid;
    font-weight: bold;
}

.row .feature {
    flex: 1;
    padding: 15px;
    background-color: #e03e00;
    color: white;
    text-align: center;
   
    font-weight: bold;
}

.row .value {
    flex: 1;
    padding: 15px;
    background-color: white;
    color: black;
    text-align: center;
    border: 1px solid white;
}

.row:nth-child(even) .feature {
    background-color: #ec4e0f;
}

.row:nth-child(even) .value {
    background-color: white;
}

button {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #832905;
}
